.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

body{
  width: 100%;
  padding: 5px;
  justify-content: center;
  background-color: rgb(6, 103, 103);
  margin: 0px;

}
ul{
  display: flex;
  flex-direction: row; 
  margin-left: -39px;
}
input{
  width: 30vw;
  padding: 2px;
  margin: 4px;
}
li a{
  color: aliceblue;
  background-color: #11252a;
  display: block;
  /* padding-right: 2em; */
  padding: 18px 29px;
  font-size: large;
  list-style: circle;
}
li{
  list-style: none;
  width: 100%;
}

li a:hover{
  background-color: #030403;
}
.h3{
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  border: solid black 1px;

  border-radius: 4px;
  background-color: #264398;
  margin-bottom: 5px;

}
.nav{
  border: solid #264398 ;
  border-radius: 5px;
  /* border-radius: 3px; */
  /* margin-right: auto; */
  margin-left: auto;
  margin-bottom: 11px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header { */
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
/* } */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
